################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/configs
/node_modules
/src/Scripts/Tests/IndexedDBSuite
/.vs
